html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.02em;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0.05em;
  margin: 0px;
}

h2 {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.05em;
  margin: 0px;
}

h3 {
  margin: 0px;
}

h4 {
  margin: 0px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.title {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin: 0px;
  margin-bottom: 20px;
}

.title::before {
  content: "";
  display: inline-block;
  background-color: #303030;
  height: 1px;
  width: 60px;
  margin-right: 20px;
}

.button {
  width: 160px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  border: 1px solid #ff6c00;
  background-color: transparent;
  border-radius: 25px;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
}

.container {
  margin: auto;
  padding: 0px 10px 0px 10px;
  width: 100%;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    padding: 0px 31px 0px 31px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0px 39px 0px 39px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding: 0px 55px 0px 55px;
  }
}

.about_us {
  padding-top: 84px;
  padding-bottom: 84px;
}

.about_us .working_photo {
  display: none;
}

.about_us h3 {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 0.05em;
  color: #303030;
  margin-bottom: 20px;
}

.about_us h4 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.02em;
  color: #555555;
  margin-bottom: 20px;
}

.about_us .description {
  color: #555555;
  margin: 0px;
  margin-bottom: 40px;
}

.about_us .button {
  color: #303030;
}

.prices {
  background: #111319;
  background-image: url(../images/prices-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 84px;
  padding-bottom: 84px;
}

.prices .title {
  color: rgba(157, 164, 189, 0.6);
}

.prices .title::before {
  background-color: rgba(157, 164, 189, 0.6);
}

.prices h2 {
  color: #ffffff;
  margin-bottom: 44px;
}

.prices .container div {
  background: -webkit-gradient(linear, left top, left bottom, from(#171a24), to(rgba(23, 26, 36, 0.2)));
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  margin-bottom: 50px;
}

.prices .price_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.prices .price_item span {
  color: #9da4bd;
}

.prices .price_item .price_underline {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-bottom: 1px solid rgba(157, 164, 189, 0.12);
}

.prices .second-block .price_item:last-child {
  margin-bottom: 0px;
}

.prices .button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
}

.advantages {
  padding-top: 84px;
  padding-bottom: 84px;
}

.advantages h2 {
  margin-bottom: 20px;
}

.advantages h3 {
  margin-bottom: 44px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #555555;
}

.our_masters {
  padding-top: 84px;
  padding-bottom: 84px;
  background-color: #f7f7f7;
}

.our_masters h2 {
  margin-bottom: 44px;
}

.our_masters img {
  margin-bottom: 30px;
  width: 100%;
  height: auto;
}

.our_masters .name {
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #303030;
  margin: 0px;
  margin-bottom: 8px;
}

.our_masters .profession {
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ff6c00;
  margin: 0px;
  margin-bottom: 30px;
}

.our_masters .social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.our_masters .social-links li + li {
  margin-left: 10px;
}

.our_masters .social-links a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: #ffffff;
}

.our_masters .social-links a:hover {
  fill: #ff6c00;
}

.portfolio {
  padding-top: 84px;
  padding-bottom: 84px;
}

.portfolio img {
  width: 100%;
}

.portfolio .title {
  margin-bottom: 44px;
}

.portfolio li {
  margin-bottom: 30px;
}

.contact_us {
  padding-top: 84px;
  padding-bottom: 84px;
  background-color: #191c26;
}

.contact_us .online h2 {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 49px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #ffffff;
  margin-bottom: 44px;
}

.contact_us .online form input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  background-color: #191c26;
  width: 100%;
  display: block;
  margin-bottom: 44px;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
}

.contact_us .online form input::-webkit-input-placeholder {
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
  padding-bottom: 8px;
}

.contact_us .online form input:-ms-input-placeholder {
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
  padding-bottom: 8px;
}

.contact_us .online form input::-ms-input-placeholder {
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
  padding-bottom: 8px;
}

.contact_us .online form input::placeholder {
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
  padding-bottom: 8px;
}

.contact_us .online form .text {
  padding-bottom: 60px;
}

.contact_us .online form button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
}

.contacts {
  padding-top: 84px;
  padding-bottom: 84px;
  background-color: #191c26;
  background-image: url(../images/contacts-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contacts h2 {
  color: #ffffff;
  margin-bottom: 40px;
  text-align: center;
}

.contacts ul address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts ul a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts svg {
  margin-right: 20px;
}

.contacts address,
.contacts a,
.contacts p {
  display: block;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.contacts address {
  margin-bottom: 20px;
}

.contacts .phone {
  margin-bottom: 20px;
}

.contacts .email {
  margin-bottom: 44px;
  text-decoration: underline;
}

.contacts .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.1em;
}

.footer {
  padding-top: 44px;
  padding-bottom: 44px;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .container span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 35px;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.2em;
  color: #9da4bd;
}

.footer .container span svg {
  margin-right: 6px;
}

.footer .container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .container ul li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.2em;
  margin-bottom: 0px;
  text-transform: none;
}

.footer .container ul li + li {
  margin-left: 10px;
}

@media screen and (min-width: 480px) {
  .footer .container ul li + li {
    margin-left: 40px;
  }
}

.footer .container ul .title::before {
  margin-right: 10px;
}

@media screen and (min-width: 480px) {
  .footer .container ul .title::before {
    margin-right: 40px;
  }
}
/*# sourceMappingURL=main.css.map */