.advantages {
  padding-top: 84px;
  padding-bottom: 84px;

  h2 {
    margin-bottom: 20px;
  }
  h3 {
    margin-bottom: 44px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: $color_dark_grey;
  }
}
